.interactive-card {
  width: 100%;
  //   border: 1px solid gray;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 2px 8px 0 rgba(0, 0, 0, 0.2);

  //   background-color: rgb(16, 185, 129, 0.1);
}

.time-type-container {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.headline-input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.multi-choice-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.interactive-card-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

:host ::ng-deep {
  // not sure why it required this here when in other places it doesn't
  .p-inputtext,
  .p-select,
  .p-select-label {
    font-size: 14px;
    // max-width: 95%;
    // font-weight: bold;
    // font-size: 12px;
    // color: black;
    // display: flex;
    // text-align: center;

    // // truncate text TODO: move to it's own global class
    // text-overflow: ellipsis; // TOOD: the ellipsis isn't working
    // white-space: nowrap;
    // overflow: hidden;
  }
}
