<p-card class="interactive-card">
  <form [formGroup]="interactiveCardForm">
    <div formGroupName="sharedForm">
      <div class="time-type-container">
        <p-select
          class="class-select"
          [options]="classOptions"
          placeholder="Class name"
          formControlName="classSelect"
        />
        <p-datepicker
          class="time-display"
          inputId="calendar-timeonly"
          [timeOnly]="true"
          [showSeconds]="true"
          formControlName="timestampPicker"
          dataType="string"
        />
      </div>

      <div>
        <!-- I want to chagne this to be shared and be like a "healdine" -->
        <input
          class="headline-input"
          pInputText
          placeholder="Headline / Question"
          formControlName="headline"
        />
      </div>
    </div>

    <!-- @switch (interactiveCardForm.get('formTypeSelect')?.value) -->
    <!-- @switch (signalCommon.formType) {
      @case ('text') {
        <input type="text" id="dynamicField" formControlName="dynamicField" />
      }
      @case ('number') {
        <input type="number" id="dynamicField" formControlName="dynamicField" />
      }
      @case ('date') {
        <input type="date" id="dynamicField" formControlName="dynamicField" />
      }
      @default {
        <input type="text" id="dynamicField" formControlName="dynamicField" />
      }
    } -->

    <!-- make these a grid -->
    <div class="multi-choice-options" formGroupName="multiChoiceForm">
      <p-inputgroup>
        <!-- TODO - change this to a for loop so can loop through options array to add answers -->
        <p-inputgroup-addon>
          <!-- <i class="pi pi-user"></i> -->
          A
        </p-inputgroup-addon>
        <input pInputText placeholder="Answer A" formControlName="optionA" />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>B</p-inputgroup-addon>
        <input pInputText placeholder="Answer B" formControlName="optionB" />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>C</p-inputgroup-addon>
        <input pInputText placeholder="Answer C" formControlName="optionC" />
      </p-inputgroup>

      <p-inputgroup>
        <p-inputgroup-addon>D</p-inputgroup-addon>
        <input pInputText placeholder="Answer D" formControlName="optionD" />
      </p-inputgroup>
    </div>

    <div>Click A, B, C, or D to select the correct answer</div>

    <div class="interactive-card-buttons" formGroupName="sharedForm">
      <p-button label="Submit" severity="primary" (click)="submit()"></p-button>
      <p-button label="Cancel" severity="secondary" (click)="cancel()"></p-button>
    </div>
  </form>
</p-card>
