<div class="header">
  <div class="header-content">
    <div class="left-content">
      <!-- <img src="public/assets/pencil.svg" class="logo-header" alt="Pencil Logo" /> -->
      <!-- <img src="images/picture.jpg" alt="Descriptive Text" /> -->
      <div class="logo-header">Logo Goes Here</div>
    </div>

    <div class="right-content">
      <a routerLink="" class="header-item">Home</a>
      <!-- <a routerLink="videos" class="header-item">Videos</a> -->
      <!-- <a class="header-item">About</a> -->
      <a routerLink=""> <i class="pi pi-user account-logo"></i> </a>

      <!-- TODO: don't forget a search bar, not here but maybe down below near hte content-->
    </div>
  </div>
</div>
