/* Main Containers */
.header {
  padding: 0.5rem 2rem 0rem 2rem; /* had to do it this way b/c of build in <body> margin */
  top: 0;
  // overflow: hidden;
}

/* Positioning */

.header-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8em;
}

.right-content {
  width: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Text */

.header-item {
  text-decoration: none;
  color: black;
}

.header-item:hover {
  cursor: pointer;
  color: #c8bdb3;
}

/* Images */

.logo-header {
  width: 19rem;
}

.account-logo {
  font-size: 1.5rem;
  color: black;
}
