.login-container {
  height: calc(100vh - 63px); // view height minus the height of the header + padding
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 13rem;
  height: 13rem;
  text-decoration: none;
  margin: 2rem;
  border: 1px solid lightgray;
}

.login-card:hover {
  cursor: pointer;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.pi {
  font-size: 6rem;
}

:host ::ng-deep {
  // .p-card-body {
  //   justify-content: center;
  // }
}
