<div class="login-container">
  <a routerLink="/teacher-dashboard" style="text-decoration: none">
    <p-card class="login-card">
      <i class="pi pi-user-edit"></i>
      <h2>Teacher</h2>
    </p-card>
  </a>

  <a routerLink="/student-dashboard" style="text-decoration: none">
    <p-card class="login-card">
      <i class="pi pi-book"></i>
      <h2>Student</h2></p-card
    >
  </a>
</div>
<div class="button-container">
  <button pButton class="mock-data-button" type="button" label="Add Mock Data" severity="secondary">
    <i class="pi pi-info-circle tooltip-icon" [pTooltip]="tooltipContent"></i>
    <ng-template #tooltipContent>
      <div>Pre-populate mock videos and annotations.</div>
      <br />
      <div>You can still add and delete videos from the teacher dashboard.</div>
    </ng-template>
  </button>
</div>
