.p-inputtext {
  width: 35rem;
  margin-right: 0.5rem;
}

.add-video-container {
}

.input-box-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: 1rem;
}

.class-select {
  width: 50%;
  margin: 1rem 0rem;
}
