/* Main Containers */
.header {
  padding: 0.5rem 2rem 0rem 2rem;
  top: 0;
}

/* Positioning */

.header-content {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8em;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Text */

.header-item {
  text-decoration: none;
  color: black;
  height: 1rem;
}

.header-item:hover,
.account-logo:hover {
  cursor: pointer;
  color: gray;
}

/* Images */

.logo-header {
  height: 2.1rem;
}

.account-logo {
  font-size: 1.5rem;
  color: black;
}
