<div class="video-view-container">
  <div class="left-content">
    <!-- TODO change this class -->
    <app-video-player class="video-player-container" [videoId]="videoId"></app-video-player>
    <app-annotation-input
      class="annotation-popover-container"
      [timestamp]="timestamp"
      [videoId]="videoId"
    ></app-annotation-input>

    <!-- @if (isAddAnnotation()) {
      <app-annotation-input
        class="annotation-input-positioning"
        [timestamp]="timestamp"
        [videoId]="videoId"
      ></app-annotation-input>
    } @else { -->
    <!-- <p-button
        class="add-annotation-button"
        label="Add Annotation"
        severity="primary"
        (click)="addAnnotation()"
      ></p-button> -->
    <!-- } -->
  </div>

  <!-- <app-progress-bar></app-progress-bar> -->

  <!-- Right Side Content -->
  <div class="right-content">
    <app-annotation-list
      class="annotation-list-container"
      [videoId]="videoId"
    ></app-annotation-list>
  </div>
</div>
