<div class="video-view-container">
  <!-- have an idea for this (see scss)-->
  <div class="left-right-column-container"></div>
  <div class="left-content">
    <app-video-player class="video-player-container" [videoId]="videoId"></app-video-player>
    <h1>Video Title</h1>
    <!-- <app-progress-bar></app-progress-bar> -->
  </div>
  <!-- Right Side Content -->

  <div class="right-content">
    <app-annotation-input
      class="annotation-popover-container"
      [timestamp]="timestamp"
      [videoId]="videoId"
      (click)="addAnnotation()"
    ></app-annotation-input>
    <app-annotation-list
      class="annotation-list-container"
      [videoId]="videoId"
    ></app-annotation-list>
  </div>
</div>
