.timestamp-display {
  margin-right: 0.75rem;
  display: inline-block;
}

.left-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 160px);
}

.right-content {
  width: 30%;
  padding: 0rem 1rem;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.annotation-popover-container {
  display: flex;
  justify-content: center;
}
