<p-popover #popover (onShow)="setTimestampValue()">
  <ng-template #content>
    <form [formGroup]="annotationInputForm" class="input-form-container">
      <div class="headline-text">New Annotation</div>

      <div formGroupName="sharedForm">
        <div class="time-type-container">
          <p-select
            [options]="annotationTypeOptions"
            placeholder="Question Type"
            formControlName="annotationTypeSelect"
          />
          <p-datepicker
            class="time-display"
            inputId="calendar-timeonly"
            [timeOnly]="true"
            [showSeconds]="true"
            formControlName="timestampPicker"
            dataType="string"
          />
        </div>

        <div>
          <input
            class="headline-input"
            pInputText
            placeholder="Question"
            formControlName="headline"
          />
        </div>
      </div>

      <div class="multi-choice-options" formGroupName="multiChoiceForm">
        @for (option of multipleChoiceOptions; track option) {
          <p-inputgroup>
            <p-inputgroup-addon
              class="multiple-choice"
              [class.active]="correctAnswer === option"
              (click)="setCorrectAnswer(option)"
              >{{ option }}</p-inputgroup-addon
            >
            <input pInputText [formControlName]="'option' + option" />
          </p-inputgroup>
        }
      </div>

      <div class="info-text">Select A, B, C, or D to set the correct answer</div>

      <div class="annotation-input-buttons" formGroupName="sharedForm">
        <button pButton label="Cancel" severity="secondary" (click)="closeCard()"></button>
        <button
          pButton
          label="Submit"
          (click)="submitCard()"
          [disabled]="!annotationInputForm.valid"
        ></button>
      </div>
    </form>
  </ng-template>
</p-popover>
<button
  pButton
  type="button"
  (click)="popover.toggle($event)"
  icon="pi pi-pen-to-square"
  label="Add Annotation"
></button>
