.input-form-container {
  margin: 1rem;
}

.time-type-container {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.headline-input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.multi-choice-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.annotation-input-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

// only works in styles.scss
// .p-popover .p-popover-content {
//   font-family:
//     'Inter',
//     -apple-system,
//     BlinkMacSystemFont,
//     'Segoe UI',
//     Roboto,
//     Helvetica,
//     Arial,
//     sans-serif,
//     'Apple Color Emoji',
//     'Segoe UI Emoji',
//     'Segoe UI Symbol';
// }

:host ::ng-deep {
  // not sure why it required this here when in other places it doesn't
  .p-inputtext,
  .p-select,
  .p-select-label {
    // font-size: 14px;
    // max-width: 95%;
    // font-weight: bold;
    // font-size: 12px;
    // color: black;
    // display: flex;
    // text-align: center;

    // // truncate text TODO: move to it's own global class
    // text-overflow: ellipsis; // TOOD: the ellipsis isn't working
    // white-space: nowrap;
    // overflow: hidden;
  }
}
