.input-form-container {
  margin: 1rem;
  width: 26rem;
}

.time-type-container {
  display: flex;
  margin-bottom: 1.25rem;
  justify-content: space-between;
}

.headline-input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.annotation-input-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.25rem;
}

.info-text {
  font-size: 11px;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.active {
  color: var(--p-primary-color);
  background-color: rgba(188, 245, 192, 0.143);
  border: 1px solid var(--p-primary-color);
}

.multiple-choice:hover {
  cursor: pointer;
  color: var(--p-primary-color);
  background-color: rgba(188, 245, 192, 0.143);
  border: 1px solid var(--p-primary-color);
}

:host ::ng-deep {
  // TODO - secondary input button style
  // background-color: white;
  // box-shadow: 0 1px 2px 0 rgba(18, 18, 23, 0.05);
  // border: 1px solid lightgray;

  // .popover-content .p-ripple .p-button {
  //   width: 20rem;
  // }

  // .p-button-primary {
  //   width: 100%;
  // }
  .annotation-input-buttons .p-button {
    // width: 50%;
  }
  // not sure why it required this here when in other places it doesn't
  .p-inputtext,
  .p-select,
  .p-select-label {
    // font-size: 14px;
    // max-width: 95%;
    // font-weight: bold;
    // font-size: 12px;
    // color: black;
    // display: flex;
    // text-align: center;

    // // truncate text TODO: move to it's own global class
    // text-overflow: ellipsis; // TOOD: the ellipsis isn't working
    // white-space: nowrap;
    // overflow: hidden;
  }
}
