<p-popover #popover (onShow)="setTimestampValue()">
  <ng-template #content>
    <form [formGroup]="annotationInputForm" class="input-form-container">
      <h2>New Annotation</h2>

      <div formGroupName="sharedForm">
        <div class="time-type-container">
          <p-select
            [options]="annotationTypeOptions"
            placeholder="Question Type"
            formControlName="annotationTypeSelect"
          />
          <p-datepicker
            class="time-display"
            inputId="calendar-timeonly"
            [timeOnly]="true"
            [showSeconds]="true"
            formControlName="timestampPicker"
            dataType="string"
          />
        </div>

        <div>
          <input
            class="headline-input"
            pInputText
            placeholder="Headline / Question"
            formControlName="headline"
          />
        </div>
      </div>

      <!-- @switch (annotationInputForm.get('formTypeSelect')?.value) -->
      <!-- @switch (signalCommon.formType) {
      @case ('text') {
        <input type="text" id="dynamicField" formControlName="dynamicField" />
      }
      @case ('number') {
        <input type="number" id="dynamicField" formControlName="dynamicField" />
      }
      @case ('date') {
        <input type="date" id="dynamicField" formControlName="dynamicField" />
      }
      @default {
        <input type="text" id="dynamicField" formControlName="dynamicField" />
      }
    } -->

      <!-- make these a grid -->
      <div class="multi-choice-options" formGroupName="multiChoiceForm">
        <!-- TODO - best practice would be to use constants for these options-->
        <p-inputgroup>
          <!-- TODO - change this to a for loop so can loop through options array to add answers -->
          <!-- so only this one has class working and for some rason only D keeps setting active class by default when it shouldn't-->
          <p-inputgroup-addon
            class="multiple-choice"
            [class.active]="correctAnswer === 'A'"
            (click)="setCorrectAnswer('A')"
            >A</p-inputgroup-addon
          >
          <input pInputText placeholder="Answer A" formControlName="optionA" />
        </p-inputgroup>

        <p-inputgroup>
          <p-inputgroup-addon
            class="multiple-choice"
            [class.active]="correctAnswer === 'B'"
            (click)="setCorrectAnswer('B')"
            >B</p-inputgroup-addon
          >
          <input pInputText placeholder="Answer B" formControlName="optionB" />
        </p-inputgroup>

        <p-inputgroup>
          <p-inputgroup-addon
            class="multiple-choice"
            [class.active]="correctAnswer === 'C'"
            (click)="setCorrectAnswer('C')"
            >C</p-inputgroup-addon
          >
          <input pInputText placeholder="Answer C" formControlName="optionC" />
        </p-inputgroup>

        <p-inputgroup>
          <p-inputgroup-addon
            class="multiple-choice"
            [class.active]="correctAnswer === 'D'"
            (click)="setCorrectAnswer('D')"
            >D</p-inputgroup-addon
          >
          <input pInputText placeholder="Answer D" formControlName="optionD" />
        </p-inputgroup>
      </div>

      <div class="info-text">Select A, B, C, or D to set the correct answer</div>

      <div class="annotation-input-buttons" formGroupName="sharedForm">
        <p-button label="Cancel" severity="secondary" (click)="cancel()"></p-button>
        <p-button label="Submit" severity="primary" (click)="submit()"></p-button>
      </div>
    </form>
  </ng-template>
</p-popover>
<p-button
  (click)="popover.toggle($event)"
  icon="pi pi-pen-to-square"
  label="Add Annotation"
></p-button>
