.input-form-container {
  margin: 1rem;
  width: 26rem;
}

.time-type-container {
  display: flex;
  margin-bottom: 1.25rem;
  justify-content: space-between;
}

.headline-input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.annotation-input-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5rem;
}

.info-text {
  font-size: 11px;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.headline-text {
  margin: 1rem 0rem;
  font-size: 18px;
  font-weight: 600;
}

.multiple-choice:hover {
  cursor: pointer;
  color: var(--p-primary-color);
  background-color: rgba(188, 245, 192, 0.143);
  border: 1px solid var(--p-primary-color);
}

.active {
  color: var(--p-primary-color);
  background-color: rgba(188, 245, 192, 0.143);
  border: 1px solid var(--p-primary-color);
}

.p-button,
.p-button-primary {
  width: 100%;
}
