.annotation-headline {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.answer-option {
  line-height: 2.5;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: flex;
  margin-bottom: 0.5rem;
}

.answer-letter {
  width: 13%;
  font-size: 1rem;
  color: var(--p-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
}
