.video-card {
  max-width: 17rem;
  max-height: 17rem;
  overflow: hidden; // this is maninly for the image to not overflow the card on top (without this the image corners are not rounded)
  margin: auto; // this just centers the entire card on the page
}

.video-card:hover {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.video-card-image {
  width: 17rem;
  height: 9.5rem;
}

.p-card-body {
  display: flex;
  justify-content: center;
}

.card-title-container {
  max-width: 95%;
  font-weight: bold;
  font-size: 0.85rem;
  color: black;
}

.video-title-text {
  text-overflow: ellipsis; // TOOD: the ellipsis isn't working
  white-space: nowrap;
  overflow: hidden;
  margin-top: -10px;
}

.class-name-text {
  margin-top: 0.5rem;
  color: gray;
}

:host ::ng-deep {
  .p-card-body {
    padding: 0.75rem 1rem 0.75rem 1rem;
  }
}

/* Images */
.pi-trash {
  font-size: 1rem;
}

.trash-icon-container {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  position: relative;
  margin-top: -2rem;
  margin-left: 14.5rem;
  position: absolute;
  color: black;
  border-radius: 50px;
  // center the trash icon within the container
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-icon-container:hover {
  color: red;
}
