<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [closable]="false">
  <!-- update "body" to be the video player component using a directive -->
  <!--https://levelup.gitconnected.com/how-to-pass-an-element-reference-down-through-a-component-tree-in-angular-86b495a2ce57-->
  <div class="annotation-headline">{{ annotation.headline }}</div>
  <div class="multi-choice-options">
    @for (option of annotation.answerOptions; track option) {
      <div class="answer-option">
        <div class="answer-letter">{{ letters[$index] }}:</div>
        <div class="answer-text">{{ option }}</div>
      </div>
    }
  </div>

  <div class="overlay-button-container">
    <button
      pButton
      type="button"
      label="Submit"
      style="width: 100%"
      (click)="visible = false"
      severity="contrast"
    ></button>
  </div>
</p-dialog>

<!-- to retain styling can i use the overlay's [appendTo]="'app-video-player' and combine with the "visible" property as an input"-->
