<div class="video-view-container">
  <app-video-player class="video-player-container"></app-video-player>

  <!-- <app-progress-bar></app-progress-bar> -->

  <!-- Right Side Content -->
  <div class="right-content">
    <p-button
      class="add-annotation-button"
      label="Add New"
      severity="primary"
      (click)="addAnnotation()"
    ></p-button>

    @if (isAddAnnotation()) {
      <app-interactive-card
        class="interactive-card-positioning"
        [timestamp]="timestamp"
      ></app-interactive-card>
    }

    <div class="">
      <!-- @for (note of notes$ | async; track note.id) { -->
      @for (annotation of annotations$ | async; track annotation.id) {
        <div class="note-card-container">
          <!-- <div class="timestamp-display">
        <div class="hour-minutes">16</div>
        <div class="minutes-seconds">59</div>
      </div> -->

          <div class="note-text-content">
            <!-- need to set a height on this so text stays to single line. also overflow-->
            <!-- <h4 class="m-0">{{ annotation.question }}</h4> -->
            <div class="">{{ annotation.id }}</div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
