<div class="video-view-container">
  <app-video-player class="video-player-container" [videoId]="videoId"></app-video-player>

  <!-- <app-progress-bar></app-progress-bar> -->

  <!-- Right Side Content -->
  <div class="right-content">
    @if (isAddAnnotation()) {
      <app-interactive-card
        class="interactive-card-positioning"
        [className]="className"
        [timestamp]="timestamp"
        [videoId]="videoId"
      ></app-interactive-card>
    } @else {
      <div>
        <p-selectbutton
          [options]="annotationTypeOptions"
          [(ngModel)]="selectedAnnotationType"
          [multiple]="false"
          optionLabel="name"
          optionValue="value"
        />
        <!-- disabled isn't working -->
        <p-button
          class="add-annotation-button"
          label="Add New"
          severity="primary"
          (click)="addAnnotation()"
          [disabled]="selectedAnnotationType === ''"
        ></p-button>
      </div>
    }

    <app-annotation-list
      class="annotation-list-container"
      [videoId]="videoId"
    ></app-annotation-list>
  </div>
</div>
