.video-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-player-container {
  //   display: block;
  width: 70%;
  aspect-ratio: 16/9;
}

.timestamp-display {
  margin-right: 0.75rem;
  display: inline-block;
}

.right-content {
  height: 80%;
  width: 35%; // 100% of the container width which is 30% of the page. need this width so that the nowrap and overflow hidden on the note text works cause it needs a width and this one was missin
  padding: 0rem 1rem;
}

.annotation-list-container {
  //   height: 60%;
  height: calc(100vh - 30px); // vh minus the height of the bar on top
  display: flex;
}
