.annotation-card-container {
  // Styling
  width: 100%;
  height: 6.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;

  // Positioning
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  margin-top: 0.5rem;
}

.annotation-card-container:hover {
  cursor: pointer;
  background-color: rgb(242 242 242);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.annotation-card-container h4 {
  margin: 0px;
}

.annotation-card-container p {
  margin: 0px;
  font-size: 14px;
}

.trash-icon-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 0.25rem;
}

.trash-icon-container:hover {
  color: red;
}

.no-annotations-container {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  opacity: 80%;
  height: 25rem;
}

.annotation-text-content {
  display: flex;
  height: 2.8rem;
  width: 97%;
  min-width: 0;
  justify-content: space-between;
}

.no-annotations-icon {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.annotation-list {
  overflow-y: scroll;
  flex-grow: 1;
  height: calc(100vh - 160px);
}

.timestamp-display {
  margin-bottom: 0.25rem;
}

.overflow-style {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
