// WIP
.annotation-card-container {
  // Styling
  width: 100%;
  height: 6rem;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); // need to use background color with a .5 opacity so that the opacity doesn't affect the title / description child divs
  border-radius: 10px;

  // Positioning
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  margin-top: 0.5rem;
}

.annotation-card-container:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}

.annotation-card-container h4 {
  margin: 0px;
}

.annotation-card-container p {
  margin: 0px;
  font-size: 14px;
}

.trash-icon-container {
  //   right: 0;
}

.annotation-text-content {
  display: flex;
  flex-direction: row;
  height: 2.5rem;

  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden; /* Hides any text that overflows the element's box */
  text-overflow: ellipsis; /* Displays an ellipsis (...) for clipped text */
  min-width: 0;
}

.annotation-list {
  //   position: absolute;
  overflow-y: scroll;
  flex-grow: 1;
  //   height: 100%;
  //   height: calc(100% - 35px); // 100% of container height - height of action items
}
