<div class="annotation-list">
  @if ((annotations$ | async).length > 0) {
    @for (annotation of annotations$ | async; track annotation.id) {
      <div class="annotation-card-container" (click)="navigateToTimestamp(annotation.timestamp)">
        <div class="annotation-text-content">
          <div style="width: 96%">
            <div class="timestamp-display">
              {{ annotation.timestamp * 1000 | date: 'H:mm:ss' : 'UTC' }}
            </div>
            <h4 class="m-0" [title]="annotation.headline" class="overflow-style">
              {{ annotation.headline }}
            </h4>
          </div>

          <div class="trash-icon-container" (click)="deleteAnnotation($event, annotation.id)">
            <i class="pi pi-trash"></i>
          </div>
        </div>
      </div>
    }
  } @else {
    <div class="no-annotations-container">
      <i class="pi pi-list no-annotations-icon"></i>
      <div>No Annotations</div>
    </div>
  }
</div>
