.teacher-dashboard-container {
  height: calc(100vh - 63px); // view height minus the height of the header + padding
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
